{% extends "base.html" %}

{% load mezzanine_tags rating_tags future %}

{% block meta_title %}{{ title|default:"Anasayfa" }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}

{% for link in object_list %}
<div class="link-item clearfix">
    {% if not profile_user %}{% rating_for link %}{% endif %}
    <div class="link-detail{% if link.rating_sum < 0 %} link-negative{% endif %}">
        <h2>
            <p>{{ link.title }}</p>
        </h2>
        {{ link.publish_date|timesince }} &#246;nce |
        <a class="comments" href="{{ link.get_absolute_url }}">{{ link.comments_count }} yorum </a>
    </div>
</div>
{% empty %}
<p>{{ no_data }}</p>
{% endfor %}

{% pagination_for object_list "page" "pjax" %}

{% endblock %}
