{% extends "base.html" %}

{% load mezzanine_tags rating_tags comment_tags drum_tags future %}

{% block meta_description %}{% metablock %}{{ object.description }}{% endmetablock %}{% endblock %}
{% block meta_title %}{{ object.title }}{% endblock %}
{% block title %}
<p> {{ object.title }}</p>
{% endblock %}

{% block main %}
<div class="link-view">
    <p class="description">{{ object.description }}</p>
    <div class="link-meta">
        {% rating_for object %}
        {{ object.publish_date|timesince }} &#246;nce
    </div>
    {% order_comments_by_score_for object %}
    {% comments_for object %}
</div>
{% endblock %}
